docs/xsd/ISO.pain.001.001.09.austrian.005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xd:schema xmlns:_="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09" xmlns:doc="AT-Documentation" xmlns:xd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09" elementFormDefault="qualified" vc:minVersion="1.1">
	<xd:annotation>
		<xd:documentation>
			<doc:source>
				<doc:line>PSA Payment Services Austria</doc:line>
				<doc:line>Edited by Hendrik Muus</doc:line>
			</doc:source>
			<doc:useCase>
				<doc:line>Definition for validation according SEPA RB 2023 for use in Austria</doc:line>
				<doc:line>SEPA Credit Transfer; standard and instant</doc:line>
			</doc:useCase>
			<doc:changeLog>
				<doc:date on="2025-05-05">
					<doc:line>clarification of documentation of InstrForDbtrAgt_Text</doc:line>
				</doc:date>
				<doc:date on="2025-04-12">
					<doc:line>open InstrForDbtrAgt in PaymentInstruction30InstrForDbtrAgt allowing to indicate VoP preference</doc:line>
					<doc:line>reinsert PmtInf/ReqExctnDt/DtTm for instant payment initiation</doc:line>
					<doc:line>insert asserts at PmtInf to ensure PmtInf/ReqExctnDt/DtTm is used with instant payments only</doc:line>
					<doc:line>Release as Version 5</doc:line>
				</doc:date>
				<doc:date on="2024-04-04">
					<doc:line>correct pattern of ISODateTime</doc:line>
					<doc:line>Release as Version 4</doc:line>
				</doc:date>
				<doc:date on="2023-10-18">
					<doc:line>correct pattern of ISODateTime</doc:line>
					<doc:line>Release as Version 3</doc:line>
				</doc:date>
				<doc:date on="2023-06-23">
					<doc:line>delete element DtTm under CstmrCdtTrfInitn/PmtInf/ReqExctnDt</doc:line>
					<doc:line>delete related assertion under CstmrCdtTrfInitn/PmtInf</doc:line>
					<doc:line>insert UETR under CstmrCdtTrfInitn/PmtInf/DrctDbtTxInf/PmtId</doc:line>
					<doc:line>Release as Version 2</doc:line>
				</doc:date>
				<doc:date on="2023-02-13">
					<doc:line>typo corrections and sort of elements</doc:line>
					<doc:line>Release as Version 1</doc:line>
				</doc:date>
				<doc:date on="2022-12-12">
					<doc:line>initial release with redefinition</doc:line>
					<doc:line>new structure</doc:line>
					<doc:line>use schema definition 1.1 to allow asserts</doc:line>
					<doc:line>former BIC now is named BICFI</doc:line>
					<doc:line>former BICOrBEI now is named AnyBIC</doc:line>
					<doc:line>GrpHdr/CtrlSum is now mandatory</doc:line>
					<doc:line>PmtInf/CtrlSum is now mandatory</doc:line>
					<doc:line>PmtInf/NbOfTxs is now mandatory</doc:line>
					<doc:line>PmtInf/ReqExctnDt/DtTm inserted for future use, e.g. instant payment initiation</doc:line>
					<doc:line>PmtInf/Dbtr and PmtInf/CdtTrfTxInf/Cdtr now offer optional proxy Information</doc:line>
					<doc:line>PmtInf/CdtTrfTxInf/Cdtr/PstlAdr offers structured address only</doc:line>
					<doc:line>PmtInf/Dbtr, PmtInf/UltmtDbtr, PmtInf/CdtTrfTxInf/UltmtDbtr, PmtInf/CdtTrfTxInf/Cdtr and PmtInf/CdtTrfTxInf/UltmtCdtr */Id/OrgId now offer LEI as identifier</doc:line>
					<doc:line>insert asserts at various levels to ensure / enable more detailed validation</doc:line>
					<doc:line>shift old EPC attributes to xml:id and place new EPC attributes into id</doc:line>
				</doc:date>
			</doc:changeLog>
		</xd:documentation>
	</xd:annotation>
	<!-- Include code list file -->
	<!--  ********************** start replace include node with copy of type definitions of schema to get stand-alone schema  -->
	<xd:include schemaLocation="pain.001.codelists.xsd"/>
	<!--  ********************** end replace include node with copy of type definitions of schema to get stand-alone schema  -->
	<!-- Redefinition through deriving types by restriction and added documentation -->
	<xd:redefine schemaLocation="pain.001.001.09.xsd">
		<!-- root element type -->
		<xd:complexType name="Document">
			<xd:complexContent>
				<xd:restriction base="_:Document">
					<xd:sequence>
						<xd:element name="CstmrCdtTrfInitn" type="_:CustomerCreditTransferInitiationV09">
							<xd:annotation>
								<xd:documentation xml:lang="de">Überweisungsnachricht.

Diese Version definiert die Beschränkungen der ISO-Struktur basierend auf den ImplementationRecommendations des EPC für die Verwendung in Österreich</xd:documentation>
								<xd:documentation xml:lang="en">Credit transfer message.

This version defines the restrictions of the ISO structure based on ImplementationRecommendations of EPC for use in Austria</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<!-- complex types with simple content -->
		<xd:complexType name="ActiveOrHistoricCurrencyAndAmount">
			<xd:simpleContent>
				<xd:restriction base="_:ActiveOrHistoricCurrencyAndAmount">
					<xd:annotation>
						<xd:documentation xml:lang="de">Begrenzung der Länge und Darstellung des Einzelbetrags</xd:documentation>
						<xd:documentation xml:lang="en">Limitation of length and representation of transaction amount</xd:documentation>
					</xd:annotation>
					<xd:minInclusive value="0.01"/>
					<xd:maxInclusive value="999999999.99"/>
					<xd:fractionDigits value="2"/>
					<xd:totalDigits value="11"/>
					<xd:attribute name="Ccy" type="_:ActiveOrHistoricCurrencyCode_TX" use="required"/>
				</xd:restriction>
			</xd:simpleContent>
		</xd:complexType>
		<!-- complex types with complex content -->
		<xd:complexType name="AmountType4Choice">
			<xd:complexContent>
				<xd:restriction base="_:AmountType4Choice">
					<xd:choice>
						<xd:element name="InstdAmt" type="_:ActiveOrHistoricCurrencyAndAmount" id="AT-T002" xml:id="AT-04">
							<xd:annotation>
								<xd:documentation xml:lang="de">Einzelbetrag.

Begrenzt auf maximal 999999999.99 und minimal 0.01.
Punkt als Dezimalzeichen.
Keine negativen Werte</xd:documentation>
								<xd:documentation xml:lang="en">Single amount.

Restricted to a maximum 999999999.99 and a minimum of 0.01.
Decimal sign is the dot.
No negative values</xd:documentation>
								<xd:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CategoryPurpose1Choice">
			<xd:complexContent>
				<xd:restriction base="_:CategoryPurpose1Choice">
					<xd:choice>
						<xd:element name="Cd" type="_:ISO_ExternalCategoryPurpose1Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Siehe externe Codeliste</xd:documentation>
								<xd:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
See external code list</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Prtry" type="_:AT_ExternalProprietaryCategoryPurpose1Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
CPPP Postbarzahlungen (siehe auch PmtId/EndToEndId, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd unterhalb CdtTrfTxInf).
Siehe externe Codeliste</xd:documentation>
								<xd:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
CPPP Cash per Post Payment (see also PmtId/EndToEndId, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr and RmtInf/Ustrd under CdtTrfTxInf).
See external code list</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CreditorReferenceInformation2">
			<xd:complexContent>
				<xd:restriction base="_:CreditorReferenceInformation2">
					<xd:sequence>
						<xd:element name="Tp" type="_:CreditorReferenceType2">
							<xd:annotation>
								<xd:documentation xml:lang="de">Typ und Herkunft der Referenz</xd:documentation>
								<xd:documentation xml:lang="en">Type and issuer of reference</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Ref" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Zahlungsreferenz, Empfängerreferenz</xd:documentation>
								<xd:documentation xml:lang="en">Creditor's reference, Recipient's reference</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CreditorReferenceType1Choice">
			<xd:complexContent>
				<xd:restriction base="_:CreditorReferenceType1Choice">
					<xd:choice>
						<xd:element name="Cd" type="_:DocumentType3Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierter Referenztyp.

Einzig verfügbarer Wert ist SCOR</xd:documentation>
								<xd:documentation xml:lang="en">Coded reference type.

Only available value is SCOR</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CreditorReferenceType2">
			<xd:complexContent>
				<xd:restriction base="_:CreditorReferenceType2">
					<xd:sequence>
						<xd:element name="CdOrPrtry" type="_:CreditorReferenceType1Choice">
							<xd:annotation>
								<xd:documentation xml:lang="de">Codetyp</xd:documentation>
								<xd:documentation xml:lang="en">Code type</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Issr" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenz vergebende Organisation

Wenn die Referenz eine nach ISO 11649 strukturierte Referenz ist ("RF"CheckDigits"Reference"), dann soll "ISO" als Herausgeber genannt werden</xd:documentation>
								<xd:documentation xml:lang="en">Reference assigning organisation

If the reference is an ISO 11649 structured reference ("RF"CheckDigits"Reference"), then "ISO" shall be used as issuer</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CreditTransferTransaction34">
			<xd:complexContent>
				<xd:restriction base="_:CreditTransferTransaction34">
					<xd:sequence>
						<xd:element name="PmtId" type="_:PaymentIdentification6">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenzen des Auftraggebers</xd:documentation>
								<xd:documentation xml:lang="en">Initiator's references</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PmtTpInf" type="_:PaymentTypeInformation26_Single" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Einzelverarbeitung.

Diese Struktur existiert ebenfalls auf Bestandsebene. EINE DIESER STRUKTUREN MUSS VERWENDET WERDEN! Gleichzeitige Nennung ist nicht erlaubt. DIE STRUKTUR AUF EINZELUMSATZEBENE VERHINDERT DIE ANWENDUNG VON SPEZIELLEN SERVICES ZWISCHEN AUFTRAGGEBER UND AUFTRAGGEBERBANK! DIESE KÖNNEN NUR BEI VERWENDUNG DER BESTANDSEBENE ANGEWENDET WERDEN! Siehe ServiceLevel, LocalInstrument und CategoryPurpose.

Von der Verwendung dieses Elements wird dringend abgeraten</xd:documentation>
								<xd:documentation xml:lang="en">Single processing.

This structure is also available on batch level. ONE OF THESE STRUCTURES MUST BE POPULATED! Concurrent population is not permitted. THE POPULATION ON SINGLE TRANSACTION LEVEL INHIBITS SPECIAL SERVICES OFFERED BY INITIATORS BANK TO INITIATOR! THESE SERVICES CAN ONLY BE APPLIED WHEN POPULATION IS MADE ON BATCH LEVEL! See ServiceLevel, LocalInstrument and CategoryPurpose.

Element is strongly discouraged</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Amt" type="_:AmountType4Choice">
							<xd:annotation>
								<xd:documentation xml:lang="de">Überweisungsbetrag</xd:documentation>
								<xd:documentation xml:lang="en">Transfer amount</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="ChrgBr" type="_:ChargeBearerType1Code" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Spesenoption.

Einzig verfügbarer Wert ist SLEV</xd:documentation>
								<xd:documentation xml:lang="en">Charge option.

Only available value is SLEV</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="UltmtDbtr" type="_:PartyIdentification135_UltmtDbtr" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Gleichzeitige Nennung auf Bestandsebene ist nicht erlaubt</xd:documentation>
								<xd:documentation xml:lang="en">Reference party of account owner / principal, i.e. habitually the actual debtor.

Concurrent quoting on batch level is not allowed</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CdtrAgt" type="_:BranchAndFinancialInstitutionIdentification6_Cdtr" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kontoführendes Institut des Kontoinhabers / Empfängers.

Nicht verwendet bei IBAN only</xd:documentation>
								<xd:documentation xml:lang="en">Financial institution servicing the account owner / recipient.

Not used with IBAN only</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Cdtr" type="_:PartyIdentification135_Cdtr">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kontoinhaber / Empfänger</xd:documentation>
								<xd:documentation xml:lang="en">Account owner / recipient</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CdtrAcct" type="_:CashAccount38_Cdtr">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kontonummer des Kontoinhabers / Empfängers</xd:documentation>
								<xd:documentation xml:lang="en">Account number of account owner / recipient</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="UltmtCdtr" type="_:PartyIdentification135_UltmtCdtr" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Bei Postbarzahlungen erforderlich</xd:documentation>
								<xd:documentation xml:lang="en">Reference party of account owner / recipient, i.e. habitually the actual creditor.

Mandatory with CashPerPost payments</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Purp" type="_:Purpose2Choice" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierter Zahlungsgrund.

Dieser Kode identifiziert einen Zahlungsgrund für den Zahlungsempfänger, kann aber auch speziellen Services bei den Banken dienen.
Bei Steuerzahlungen zwingend mit TAXS zu befüllen</xd:documentation>
								<xd:documentation xml:lang="en">Coded payment reason.

This code identifies a payment purpose or reason for the creditor, but may triggers special services of banks too.
For tax payments mandatorily to populate with TAXS</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="RmtInf" type="_:RemittanceInformation16" id="AT-T009" minOccurs="0" xml:id="AT-05">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verwendungszweck / Empfängerreferenz</xd:documentation>
								<xd:documentation xml:lang="en">Remittance information / recipients reference</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="CustomerCreditTransferInitiationV09">
			<xd:complexContent>
				<xd:restriction base="_:CustomerCreditTransferInitiationV09">
					<xd:sequence>
						<xd:element name="GrpHdr" type="_:GroupHeader85">
							<xd:annotation>
								<xd:documentation xml:lang="de">Nachrichtenkopf.

Grundlegende Informationen zur übermittelten Datei</xd:documentation>
								<xd:documentation xml:lang="en">Message header.

Basic information on transmitted file</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PmtInf" type="_:PaymentInstruction30" maxOccurs="unbounded">
							<xd:annotation>
								<xd:documentation xml:lang="de">Bestände.

Maximal 9.999 Bestände.
Größere Anzahl kann nicht verarbeitet werden und die gesamte Datei wird zurückgewiesen</xd:documentation>
								<xd:documentation xml:lang="en">Batches.

Restricted to 9.999 batches.
Larger count can not be processed and complete file will be rejected</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
					<xd:assert test="xd:integer(_:GrpHdr/_:NbOfTxs) eq sum(_:PmtInf/xd:integer(_:NbOfTxs))">
						<xd:annotation>
							<xd:documentation xml:lang="de">Anzahl der Transaktionen in der gesamten Datei</xd:documentation>
							<xd:documentation xml:lang="en">Count of transactions in entire message</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="_:GrpHdr/_:CtrlSum eq sum(_:PmtInf/_:CtrlSum)">
						<xd:annotation>
							<xd:documentation xml:lang="de">Arithmetische Summe der Transaktionen in der gesamten Datei</xd:documentation>
							<xd:documentation xml:lang="en">Arithmetic sum of transactions in entire message</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="count(_:PmtInf/_:PmtInfId) eq count(distinct-values(_:PmtInf/_:PmtInfId))">
						<xd:annotation>
							<xd:documentation xml:lang="de">Eindeutige Bestandsnummern</xd:documentation>
							<xd:documentation xml:lang="en">Unique batch identifications</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="count(_:PmtInf) lt 10000">
						<xd:annotation>
							<xd:documentation xml:lang="de">Maximale Anzahl Bestände in Nachricht</xd:documentation>
							<xd:documentation xml:lang="en">Maximum batch count in message</xd:documentation>
						</xd:annotation>
					</xd:assert>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="DateAndDateTime2Choice">
			<xd:complexContent>
				<xd:restriction base="_:DateAndDateTime2Choice">
					<xd:choice>
						<xd:element name="Dt" type="_:ISODate">
							<xd:annotation>
								<xd:documentation xml:lang="de">Gewünschter Durchführungstag.

Kann das Datum z.B. durch Spätlieferung nicht eingehalten werden, kann ggf. eine Weiterrollung gemäß vorheriger Vereinbarung erfolgen</xd:documentation>
								<xd:documentation xml:lang="en">Requested execution date.

If the date cannot be respected, e.g. on late delivery, payment may be executed later according preliminary agreement</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="DtTm" type="_:ISODateTime">
							<xd:annotation>
								<xd:documentation xml:lang="de">Gewünschter Zeitpunkt der Durchführung.

Lokale Zeit mit Zeitoffset oder UTC.

DIE VERWENDUNG DIESES ELEMENTS STEHT IN ZUSAMMENHANG MIT LclInstrm. VOR DER VERWENDUNG IST DIE NUTZBARKEIT ABZUSTIMMEN</xd:documentation>
								<xd:documentation xml:lang="en">Requested execution date and time.

Local time with time offset or UTC.

THE USE OF THIS ELEMENT IS RELATED TO LclInstrm. NEGOTIATE AGREEMENT BEFORE USE</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="DateAndPlaceOfBirth1">
			<xd:complexContent>
				<xd:restriction base="_:DateAndPlaceOfBirth1">
					<xd:sequence>
						<xd:element name="BirthDt" type="_:ISODate">
							<xd:annotation>
								<xd:documentation xml:lang="de">Tag der Geburt</xd:documentation>
								<xd:documentation xml:lang="en">Date of birth</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PrvcOfBirth" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Bundesland der Geburt</xd:documentation>
								<xd:documentation xml:lang="en">Province of birth</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CityOfBirth" type="_:Max35Text">
							<xd:annotation>
								<xd:documentation xml:lang="de">Stadt der Geburt</xd:documentation>
								<xd:documentation xml:lang="en">City of birth</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CtryOfBirth" type="_:CountryCode">
							<xd:annotation>
								<xd:documentation xml:lang="de">Land der Geburt

ISO 3166 2-Buchstaben Ländercode</xd:documentation>
								<xd:documentation xml:lang="en">Country of birth

ISO 3166 2-character country code</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="GenericPersonIdentification1">
			<xd:complexContent>
				<xd:restriction base="_:GenericPersonIdentification1">
					<xd:sequence>
						<xd:element name="Id" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifikation der Person</xd:documentation>
								<xd:documentation xml:lang="en">Identification of person</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="SchmeNm" type="_:PersonIdentificationSchemeName1Choice" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Typ der Identifikation</xd:documentation>
								<xd:documentation xml:lang="en">Type of identification</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Issr" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifikation vergebende Organisation</xd:documentation>
								<xd:documentation xml:lang="en">Identification assigning organisation</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="GroupHeader85">
			<xd:complexContent>
				<xd:restriction base="_:GroupHeader85">
					<xd:sequence>
						<xd:element name="MsgId" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Technische Referenz der Übermittlungsdatei.

Eindeutigkeit über mindestens 30 Tage ist herzustellen.
Beschränken Sie sich für einen sicheren Ablauf auf Buchstaben, Ziffern und Bindestrich.
Eindeutigkeit erreicht man z.B. einfach über die Kombination des Datums mit einem Tageszähler</xd:documentation>
								<xd:documentation xml:lang="en">Technical reference of transmitted file.

Ensure uniqueness for at least 30 days.
For save processing limit yourselves to digits, letters and minus sign.
Uniqueness is simple achievable e.g. with combining the date with a daily counter</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CreDtTm" type="_:ISODateTime">
							<xd:annotation>
								<xd:documentation xml:lang="de">Dateierzeugungsdatum und -zeit

Lokale Zeit mit Zeitoffset oder UTC</xd:documentation>
								<xd:documentation xml:lang="en">File creation date and time

Local time with time offset or UTC</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="NbOfTxs" type="_:Max15NumericText">
							<xd:annotation>
								<xd:documentation xml:lang="de">Anzahl der Einzeltransaktionen der Datei.

Maximal 999.999 Transaktionen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung</xd:documentation>
								<xd:documentation xml:lang="en">Count of single transactions of file.

Maximum 999.999 transactions.
More than 100.000 transactions need preliminary agreement</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CtrlSum" type="_:DecimalNumber">
							<xd:annotation>
								<xd:documentation xml:lang="de">Summe der Einzeltransaktionen der Datei.

Ein Wert zwischen 0.01 und 999999999999.99.
Punkt als Dezimalzeichen.
Keine negativen Werte</xd:documentation>
								<xd:documentation xml:lang="en">Sum of single transactions of file.

A value between 0.01 and 999999999999.99.
Decimal sign is the dot.
No negative values</xd:documentation>
								<xd:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="InitgPty" type="_:PartyIdentification135_InitgPty">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifizierung des Kommunikationsberechtigten.

Stimmen Sie Ihre Id mit dem empfangenden Finanzinstitut ab.
Üblicherweise die Hauptkontonummer</xd:documentation>
								<xd:documentation xml:lang="en">Identification of communication entitled party.

Agree your Id with receiving financial institution.
Habitually the main account number</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="LocalInstrument2Choice">
			<xd:complexContent>
				<xd:restriction base="_:LocalInstrument2Choice">
					<xd:choice>
						<xd:element name="Cd" type="_:AT_ExternalLocalInstrument1Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Zahlungsinstrument.

JEDWEDE VERWENDUNG IST MIT DER BEAUFTRAGTEN BANK IM VORHINEIN ZU KLÄREN</xd:documentation>
								<xd:documentation xml:lang="en">Payment instrument.

ANY USE NEEDS TO BE AGREED WITH ORDERED BANK BEFORE APPLICATION</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Prtry" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Zahlungsinstrument.

Keine Verwendung definiert</xd:documentation>
								<xd:documentation xml:lang="en">Payment instrument.

No application defined</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="PaymentIdentification6">
			<xd:complexContent>
				<xd:restriction base="_:PaymentIdentification6">
					<xd:sequence>
						<xd:element name="InstrId" type="_:Max35Text_REF" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Überweisungsauftragsnummer.

Dieses Element ist nur aus Kompatibilitätsgründen möglich, damit keine Ablehnung aus technischen Gründen erfolgt.
Angabe wird ignoriert</xd:documentation>
								<xd:documentation xml:lang="en">Transactions instruction Id.

This element is only possible for compatibility reasons, to avoid rejects for technical reasons.
Information is ignored</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="EndToEndId" type="_:Max35Text_REF" id="AT-T014" xml:id="AT-41">
							<xd:annotation>
								<xd:documentation xml:lang="de">Auftraggeberreferenz.

Bei Steuerzahlungen enthält dieses Element die 9-stellige Steuernummer (ergo inkl. FA-Nummer).
Bei Postbarzahlungen enthält dieses Element die Postbar-Referenz (bei Postbarzahlungen siehe auch CtgyPurp/a, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd).
Kann im Kontoauszug zur eigenen Referenzierung zurückgegeben, daher ist Eindeutigkeit wichtig.
Falls dennoch keine Referenz angegeben werden soll, mit dem Wert NOTPROVIDED zu füllen</xd:documentation>
								<xd:documentation xml:lang="en">Initiator's reference.

On tax payments this element carries the 9 digit customers tax Id (consequently incl. TA-number).
On CashPerPost payments this element carries the CashPerPost reference (with CashPerPost payments see also CtgyPurp/Prtry, Cdtr, CdtrAcct, CdtrAgt, UltmtCdtr und RmtInf/Ustrd).
May be returned in account statement for reconciliation, uniqueness therefore matters.
If still no specific reference shall be provided, to be populated with the value NOTPROVIDED</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="UETR" type="_:UUIDv4Identifier" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Universelle eindeutige Identifikation der Lastschrift

Dieses Element ist für zukünftige Anwendungen reserviert. Derzeit gibt es kein Finanzinstitut in Österreich, dass eine Anwendung dieses Elements anbietet.

UUID nach RFC 4122 Version 4</xd:documentation>
								<xd:documentation xml:lang="en">Debit's universally unique identifier

This element is reserved for future use. Currently there is no single financial institution in Austria supporting an action on this element.

UUID following RFC 4122 version 4</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="PaymentInstruction30">
			<xd:complexContent>
				<xd:restriction base="_:PaymentInstruction30">
					<xd:sequence>
						<xd:element name="PmtInfId" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Bestandskontrollnummer.

Eindeutigkeit über mindestens 1 Jahr ist herzustellen.
Kann im Kontoauszug zur Referenzierung zurückgegeben werden.
Das Element wird auch zur Prüfung von Doppelanlieferungen verwendet.
Eindeutigkeit erreicht man z.B. einfach über die Kombination des Datums mit einem Tageszähler</xd:documentation>
								<xd:documentation xml:lang="en">Batch control number.

Ensure uniqueness for at least 1 year.
Can be returned in account statement.
Element is also used to check for duplicate submission.
Uniqueness is simple achievable e.g. with combining the date with a daily counter</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PmtMtd" type="_:PaymentMethod3Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Zahlungsmethode.

Einzig verfügbarer Wert ist TRF</xd:documentation>
								<xd:documentation xml:lang="en">Payment method.

Only available value is TRF</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="BtchBookg" type="_:BatchBookingIndicator" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Sammel- oder Einzelbuchung.

Berücksichtigung in Absprache mit dem beauftragten Kreditinstitut.
Überschreibt dann die am Konto hinterlegte Standard-Buchungsmethode.
"true" heißt Bestandsbuchung gewünscht.
"false" heißt Einzelbuchung gewünscht</xd:documentation>
								<xd:documentation xml:lang="en">Batch or single booking.

Consideration according to agreement with the instructed financial institution.
Then overwrites standard booking method saved at account.
"true" means batch booking requested.
"false" means single booking requested</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="NbOfTxs" type="_:Max15NumericText">
							<xd:annotation>
								<xd:documentation xml:lang="de">Anzahl der Einzeltransaktionen des Bestands.

Maximal 999.999 Transaktionen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung</xd:documentation>
								<xd:documentation xml:lang="en">Count of single transactions of batch.

Maximum 999.999 transactions.
More than 100.000 transactions need preliminary agreement</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CtrlSum" type="_:DecimalNumber">
							<xd:annotation>
								<xd:documentation xml:lang="de">Summe der Einzeltransaktionen des Bestands.

Ein Wert zwischen 0.01 und 999999999999.99. Punkt als Dezimalzeichen.
Keine negativen Werte</xd:documentation>
								<xd:documentation xml:lang="en">Sum of single transactions of batch.

A value between 0.01 and 999999999999.99. Decimal sign is the dot. No negative values</xd:documentation>
								<xd:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PmtTpInf" type="_:PaymentTypeInformation26_Batch" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Bestandsverarbeitung.

Diese Struktur existiert ebenfalls auf Einzelumsatzebene. EINE DIESER STRUKTUREN MUSS VERWENDET WERDEN! Gleichzeitige Nennung ist nicht erlaubt. DIE STRUKTUR AUF EINZELUMSATZEBENE VERHINDERT DIE ANWENDUNG VON SPEZIELLEN SERVICES ZWISCHEN AUFTRAGGEBER UND AUFTRAGGEBERBANK! DIESE KÖNNEN NUR BEI VERWENDUNG DIESER EBENE ANGEWENDET WERDEN! Siehe ServiceLevel, LocalInstrument und CategoryPurpose.

Die Verwendung dieses Elements auf dieser Ebene ist dringend angeraten.

Notwendig bei Postbarzahlungen (CategoryPurpose/Proprietary) und Eilzahlungen (ServiceLevel/Code)</xd:documentation>
								<xd:documentation xml:lang="en">Batch processing.

This structure is also available on single transaction level. ONE OF THESE STRUCTURES MUST BE POPULATED! Concurrent population is not permitted. THE POPULATION ON SINGLE TRANSACTION LEVEL INHIBITS SPECIAL SERVICES OFFERED BY INITIATORS BANK TO INITIATOR! THESE SERVICES CAN ONLY BE APPLIED WHEN POPULATION IS MADE ON THIS LEVEL! See ServiceLevel, LocalInstrument and CategoryPurpose.

Element population on this level is strongly recommended.

Mandatory with CashPerPost (CategoryPurpose/Proprietary) and urgent (ServiceLevel/Code) payments</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="ReqdExctnDt" type="_:DateAndDateTime2Choice" id="AT-T013" xml:id="AT-07">
							<xd:annotation>
								<xd:documentation xml:lang="de">Gewünschte Durchführung</xd:documentation>
								<xd:documentation xml:lang="en">Requested execution</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Dbtr" type="_:PartyIdentification135_Dbtr">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kontoinhaber / Auftraggeber</xd:documentation>
								<xd:documentation xml:lang="en">Account owner / principal</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="DbtrAcct" type="_:CashAccount38_Dbtr">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kontonummer des Kontoinhabers / Auftraggebers</xd:documentation>
								<xd:documentation xml:lang="en">Account number of account owner / principal</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="DbtrAgt" type="_:BranchAndFinancialInstitutionIdentification6_Dbtr">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kontoführendes Institut des Kontoinhabers / Auftraggebers</xd:documentation>
								<xd:documentation xml:lang="en">Financial institution servicing the account owner / principal</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="InstrForDbtrAgt" type="_:InstrForDbtrAgt_Text" minOccurs="0" maxOccurs="1">
							<xd:annotation>
								<xd:documentation xml:lang="de">Weisungen an das kontoführende Institut</xd:documentation>
								<xd:documentation xml:lang="en">Instructions for account servicing institut</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="UltmtDbtr" type="_:PartyIdentification135_UltmtDbtr" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Gleichzeitige Nennung auf Einzelebene ist nicht erlaubt</xd:documentation>
								<xd:documentation xml:lang="en">Reference party of account owner / principal, i.e. habitually the actual debtor.

Concurrent quoting on transaction level is not allowed</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="ChrgBr" type="_:ChargeBearerType1Code" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Spesenoption.

Einzig verfügbarer Wert ist SLEV</xd:documentation>
								<xd:documentation xml:lang="en">Charge option.

Only available value is SLEV</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CdtTrfTxInf" type="_:CreditTransferTransaction34" maxOccurs="unbounded">
							<xd:annotation>
								<xd:documentation xml:lang="de">Einzelumsätze.

Maximal 999.999 Umsätze je Bestand.
Größere Anzahl kann nicht verarbeitet werden und die gesamte Datei wird zurückgewiesen.
Mehr als 100.000 Umsätzen bedürfen der vorherigen Abstimmung</xd:documentation>
								<xd:documentation xml:lang="en">Single transactions.

Restricted to 999.999 transactions per batch.
Larger count can not be processed and complete file will be rejected.
More than 100.000 transactions need preliminary agreement</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
					<xd:assert test="if(count(_:PmtTpInf) eq 1) then (count(_:CdtTrfTxInf/_:PmtTpInf) eq 0) else (count(_:CdtTrfTxInf/_:PmtTpInf) eq count(_:CdtTrfTxInf))">
						<xd:annotation>
							<xd:documentation xml:lang="de">ISO rule: Entweder ein PmtTpInf auf dieser Ebene und kein PmtTpInf auf der nächsten Ebene oder kein PmtTpInf auf dieser Ebene und alle PmtTpInf auf der nächsten Ebene</xd:documentation>
							<xd:documentation xml:lang="en">ISO rule: Either one PmtTpInf on this level and no PmtTpInf on next level or no PmtTpInf on this level and all PmtTpInf on next level</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="if(count(_:UltmtDbtr) eq 1) then (count(_:CdtTrfTxInf/_:UltmtDbtr) eq 0) else true()">
						<xd:annotation>
							<xd:documentation xml:lang="de">ISO rule: Entweder ein UltmtDbtr auf dieser Ebene und kein UltmtDbtr auf der nächsten Ebene oder kein UltmtDbtr auf dieser Ebene und beliebige UltmtDbtr auf der nächsten Ebene</xd:documentation>
							<xd:documentation xml:lang="en">ISO rule: Either one UltmtDbtr on this level and no UltmtDbtr on next level or no UltmtDbtr on this level and any UltmtDbtr on next level</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="if(count(_:ChrgBr) eq 1) then (count(_:CdtTrfTxInf/_:ChrgBr) eq 0) else true()">
						<xd:annotation>
							<xd:documentation xml:lang="de">ISO rule: Entweder ein ChrgBr auf dieser Ebene und kein ChrgBr auf der nächsten Ebene oder kein ChrgBr auf dieser Ebene und beliebige ChrgBr auf der nächsten Ebene</xd:documentation>
							<xd:documentation xml:lang="en">ISO rule: Either one ChrgBr on this level and no ChrgBr on next level or no ChrgBr on this level and any ChrgBr on next level</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="if(count(_:ReqdExctnDt/_:DtTm) gt 0) then (_:PmtTpInf/_:LclInstrm/_:Cd eq 'INST') else true()">
						<xd:annotation>
							<xd:documentation xml:lang="de">Durchführungszeitpunkt nur mit LocalInstrument für InstantPayment</xd:documentation>
							<xd:documentation xml:lang="en">Requested date and time only with LocalInstrument for instant payment</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="if(count(_:PmtTpInf) eq 1) then true() else (
					if(count(_:CdtTrfTxInf/_:PmtTpInf/_:LclInstrm) eq 0) then true() else (
					if(count(_:CdtTrfTxInf/_:PmtTpInf/_:LclInstrm/_:Cd) eq 0) then true() else (
					count(distinct-values(_:CdtTrfTxInf/_:PmtTpInf/_:LclInstrm/_:Cd)) eq 1)))">
						<xd:annotation>
							<xd:documentation xml:lang="de">Für alle Transaktionen des Bestands gilt der gleiche LocalInstrument Code</xd:documentation>
							<xd:documentation xml:lang="en">For all transaction in batch indent LocalInstrument Code is applied</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="xd:integer(_:NbOfTxs) eq count(_:CdtTrfTxInf)">
						<xd:annotation>
							<xd:documentation xml:lang="de">Anzahl der Transaktionen im Bestand</xd:documentation>
							<xd:documentation xml:lang="en">Count of transactions in batch</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="_:CtrlSum eq sum(_:CdtTrfTxInf/_:Amt/_:InstdAmt)">
						<xd:annotation>
							<xd:documentation xml:lang="de">Arithmetische Summe der Transaktionen im Bestand</xd:documentation>
							<xd:documentation xml:lang="en">Arithmetic sum of transactions in batch</xd:documentation>
						</xd:annotation>
					</xd:assert>
					<xd:assert test="count(_:CdtTrfTxInf) lt 1000000">
						<xd:annotation>
							<xd:documentation xml:lang="de">Maximale Anzahl Transaktionen im Bestand</xd:documentation>
							<xd:documentation xml:lang="en">Maximum count of transactions in batch</xd:documentation>
						</xd:annotation>
					</xd:assert>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="PersonIdentificationSchemeName1Choice">
			<xd:complexContent>
				<xd:restriction base="_:PersonIdentificationSchemeName1Choice">
					<xd:choice>
						<xd:element name="Cd" type="_:ISO_ExternalPersonIdentification1Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierte Identifikation.

Kode aus Codeliste</xd:documentation>
								<xd:documentation xml:lang="en">Coded identification.

Code from code list</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Prtry" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kodierte Identifikation.

Proprietärer Kode</xd:documentation>
								<xd:documentation xml:lang="en">Coded identification.

Proprietary code</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="PostalAddress24">
			<xd:complexContent>
				<xd:restriction base="_:PostalAddress24">
					<xd:sequence>
						<xd:element name="Dept" type="_:Max70Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Abteilung</xd:documentation>
								<xd:documentation xml:lang="en">Department</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="SubDept" type="_:Max70Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Unterabteilung</xd:documentation>
								<xd:documentation xml:lang="en">Sub department</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="StrtNm" type="_:Max70Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Straße</xd:documentation>
								<xd:documentation xml:lang="en">Street name</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="BldgNb" type="_:Max16Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Hausnummer</xd:documentation>
								<xd:documentation xml:lang="en">Building number</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="BldgNm" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Gebäudename</xd:documentation>
								<xd:documentation xml:lang="en">Building name</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Flr" type="_:Max70Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Stockwerk</xd:documentation>
								<xd:documentation xml:lang="en">Floor</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PstBx" type="_:Max16Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Postfach</xd:documentation>
								<xd:documentation xml:lang="en">Post box</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Room" type="_:Max70Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Raum</xd:documentation>
								<xd:documentation xml:lang="en">Room</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="PstCd" type="_:Max16Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Postleitzahl</xd:documentation>
								<xd:documentation xml:lang="en">Post code</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="TwnNm" type="_:Max35Text">
							<xd:annotation>
								<xd:documentation xml:lang="de">Stadt / Ort</xd:documentation>
								<xd:documentation xml:lang="en">Town name</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="TwnLctnNm" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Stadtteil / Ortsteil</xd:documentation>
								<xd:documentation xml:lang="en">Town location name</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="DstrctNm" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Bezirk</xd:documentation>
								<xd:documentation xml:lang="en">District name</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="CtrySubDvsn" type="_:Max35Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Bundesland</xd:documentation>
								<xd:documentation xml:lang="en">Country sub division</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Ctry" type="_:CountryCode">
							<xd:annotation>
								<xd:documentation xml:lang="de">Land

ISO 3166 2-Buchstaben Ländercode</xd:documentation>
								<xd:documentation xml:lang="en">Country

ISO 3166 2-character country code</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="ProxyAccountIdentification1">
			<xd:complexContent>
				<xd:restriction base="_:ProxyAccountIdentification1">
					<xd:sequence>
						<xd:element name="Tp" type="_:ProxyAccountType1Choice" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Proxy Typ</xd:documentation>
								<xd:documentation xml:lang="en">Proxy type</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Id" type="_:Max2048Text">
							<xd:annotation>
								<xd:documentation xml:lang="de">Identifikation

Format entsprechend des Typs</xd:documentation>
								<xd:documentation xml:lang="en">Identification

Format </xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="ProxyAccountType1Choice">
			<xd:complexContent>
				<xd:restriction base="_:ProxyAccountType1Choice">
					<xd:choice>
						<xd:element name="Cd" type="_:ISO_ExternalProxyAccountType1Code">
							<xd:annotation>
								<xd:documentation xml:lang="de">Kode aus Codeliste</xd:documentation>
								<xd:documentation xml:lang="en">Code from code list</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Prtry" type="_:Max35Text_REF">
							<xd:annotation>
								<xd:documentation xml:lang="de">Vereinbarter Kode</xd:documentation>
								<xd:documentation xml:lang="en">Agreed code</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="Purpose2Choice">
			<xd:complexContent>
				<xd:restriction base="_:Purpose2Choice">
					<xd:choice>
						<xd:element name="Cd" type="_:ISO_ExternalPurpose1Code" id="AT-T007" xml:id="AT-44">
							<xd:annotation>
								<xd:documentation xml:lang="de">Geschäftsfallkode.

Siehe auch CtgyPurp.
Abhängig vom Kode in CtgyPurp hat dieser Kode bestimmte Bedeutung im empfangenden Institut:
Mit SALA
GVEA: Bezüge Arbeitslose
GVEB: Bezüge allgemein
GVEC: Bezüge Landesinvaliden
GVED: Bezüge Landesverteidigung
GOVT: Bezüge Post
RLWY: Bezüge OeBB
Mit PENS
RLWY: Pensionen OeBB
Mit GOVT
ANNI: Annuitätenzuschüsse
Besonderheiten:
TRFD: Mündelkonten (RAK-Zahlungen)
TAXS: Steuerzahlung
Sonstige siehe Liste auf iso20022.org</xd:documentation>
								<xd:documentation xml:lang="en">Business codes.

See also CtgyPurp.
Depending on code in CtgyPurp this code has specific meaning at receiving institute:
With SALA
GVEA: Emoluments unemployed persons
GVEB: Emoluments general
GVEC: Emoluments disabled persons
GVED: Emoluments national defence
GOVT: Emoluments Austrian Mail
RLWY: Emoluments OeBB
With PENS
RLWY: Pensions OeBB
With GOVT
ANNI: Annuity grant
Specialities:
TRFD: Trusted fund payments (RAK-Payments)
TAXS: Tax payment
Others see list at iso20022.org</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="RemittanceInformation16">
			<xd:complexContent>
				<xd:restriction base="_:RemittanceInformation16">
					<xd:sequence>
						<xd:annotation>
							<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
							<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
						</xd:annotation>
						<xd:element name="Ustrd" type="_:Max140Text" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verwendungszweck Textzeile.
							
Eine Zeile mit maximal 140 Zeichen.
Verpflichtend bei Postbarzahlungen.
Bei Steuerzahlungen ist mit dem Bundesrechenzentrum ein spezieller Aufbau vereinbart.
Bei Postbarzahlungen ist ein spezieller Aufbau vereinbart</xd:documentation>
								<xd:documentation xml:lang="en">Remittance information text line.

One line with maximum 140 characters.
Mandatory with CashPerPost payments.
On tax payments observe the structure agreed with Bundesrechenzentrum (administration's data centre).
On CashPerPost payments observe specific structure</xd:documentation>
							</xd:annotation>
						</xd:element>
						<xd:element name="Strd" type="_:StructuredRemittanceInformation16" minOccurs="0">
							<xd:annotation>
								<xd:documentation xml:lang="de">Verwendungszweck strukturiert: Zahlungsreferenz, Empfängerreferenz.

Alle Daten INKLUSIVE der notwendigen XML-Tags müssen in 140 Zeichen Platz finden.
Nicht verfügbar bei Steuer- und Postbar-Zahlungen</xd:documentation>
								<xd:documentation xml:lang="en">Remittance information data structure: Creditor's reference, Recipient's reference.

All data INCLUDING the necessary XML tags must fit into 140 character.
Not available with Tax and CashPerPost payments</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
					<xd:assert test="count(*) eq 1">
						<xd:annotation>
							<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
							<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
						</xd:annotation>
					</xd:assert>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="ServiceLevel8Choice">
			<xd:complexContent>
				<xd:restriction base="_:ServiceLevel8Choice">
					<xd:choice>
						<xd:element name="Cd" type="_:AT_ExternalServiceLevel1Code" id="AT-T001-Batch" xml:id="AT-40-Batch">
							<xd:annotation>
								<xd:documentation xml:lang="de">Service Spezifikation.

Der Standardwert ist SEPA.
Die Verwendung von SDVA zur Erteilung von Eilzahlungen wird nicht grundsätzlich unterstützt und bedarf vorheriger Vereinbarung.
Eilzahlungen unterliegen nicht den Standards der EU-Verordnung (Annahme- und Verarbeitungspflichten, Preisgleichstellung etc.)</xd:documentation>
								<xd:documentation xml:lang="en">Service specification.

The standard value is SEPA.
The usage of SDVA for qualification of urgent payments is not general supported and requires preliminary agreement.
Urgent payments are not governed by EU-Regulation (acceptance and processing duties, charges and fees etc.)</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:choice>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<xd:complexType name="StructuredRemittanceInformation16">
			<xd:complexContent>
				<xd:restriction base="_:StructuredRemittanceInformation16">
					<xd:sequence>
						<xd:element name="CdtrRefInf" type="_:CreditorReferenceInformation2">
							<xd:annotation>
								<xd:documentation xml:lang="de">Zahlungsreferenz, Empfängerreferenz</xd:documentation>
								<xd:documentation xml:lang="en">Creditor's reference, Recipient's reference</xd:documentation>
							</xd:annotation>
						</xd:element>
					</xd:sequence>
				</xd:restriction>
			</xd:complexContent>
		</xd:complexType>
		<!-- simple types -->
		<xd:simpleType name="ChargeBearerType1Code">
			<xd:restriction base="_:ChargeBearerType1Code">
				<xd:enumeration value="SLEV">
					<xd:annotation>
						<xd:documentation xml:lang="de">Spesenoption gemäß SEPA Richtlinie</xd:documentation>
						<xd:documentation xml:lang="en">Charge option according SEPA regulation</xd:documentation>
					</xd:annotation>
				</xd:enumeration>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="DecimalNumber">
			<xd:restriction base="_:DecimalNumber">
				<xd:annotation>
					<xd:documentation xml:lang="de">Der Maximalwert der Kontrollsumme. Mehr kann eine Datei nicht beauftragen</xd:documentation>
					<xd:documentation xml:lang="en">The maximum value of the control sum. One file cannot instruct lager values</xd:documentation>
				</xd:annotation>
				<xd:minInclusive value="0.01"/>
				<xd:maxInclusive value="999999999999.99"/>
				<xd:fractionDigits value="2"/>
				<xd:totalDigits value="14"/>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="DocumentType3Code">
			<xd:restriction base="_:DocumentType3Code">
				<xd:enumeration value="SCOR">
					<xd:annotation>
						<xd:documentation xml:lang="de">Vom Empfänger vorgegebene Referenz zur Zuordnung des Eingangs</xd:documentation>
						<xd:documentation xml:lang="en">Reference assigned by creditor to identify and associate receipt</xd:documentation>
					</xd:annotation>
				</xd:enumeration>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="ISODateTime">
			<xd:restriction base="_:ISODateTime">
				<xd:pattern value="\d{4}(-\d{2}){2}T\d{2}(:\d{2}){2}(\.\d{0,2}[1-9])?(Z|([-+]\d{2}(:\d{2})?))">
					<xd:annotation>
						<xd:documentation>ISO 8601 local time with time offset or UTC
Last digit of seconds fraction must not be 0. If no fraction given, delimeter "." is not allowed (3.2.7.2 Canonical representation in XML Schema Part 2: Datatypes Second Edition)
E.g.
2030-12-12T12:12Z
2030-12-12T12:12+02
2030-12-12T12:12+02:00
2030-12-12T12:12:12Z
2030-12-12T12:12:12+02
2030-12-12T12:12:12+02:00
2030-12-12T12:12:12.123Z
2030-12-12T12:12:12.123+02
2030-12-12T12:12:12.123+02:00</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Max140Text">
			<xd:restriction base="_:Max140Text">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Namen und Verwendungszweck

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of character set for names and remittance information

A text or value must contain at least one printable character</xd:documentation>
				</xd:annotation>
				<xd:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Max15NumericText">
			<xd:restriction base="_:Max15NumericText">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung der Länge des Transaktionszählers</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of length of transaction counter</xd:documentation>
				</xd:annotation>
				<xd:pattern value="[1-9][0-9]{0,5}">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Max35Text">
			<xd:restriction base="_:Max35Text">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Namen

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of character set for names

A text or value must contain at least one printable character</xd:documentation>
				</xd:annotation>
				<xd:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Max16Text">
			<xd:restriction base="_:Max16Text">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of character set

A text or value must contain at least one printable character</xd:documentation>
				</xd:annotation>
				<xd:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Max2048Text">
			<xd:restriction base="_:Max2048Text">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of character set

A text or value must contain at least one printable character</xd:documentation>
				</xd:annotation>
				<xd:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Max70Text">
			<xd:restriction base="_:Max70Text">
				<xd:annotation>
					<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Adressen

Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten</xd:documentation>
					<xd:documentation xml:lang="en">Limitation of character set for addresses

A text or value must contain at least one printable character</xd:documentation>
				</xd:annotation>
				<xd:pattern value="( *[\-A-Za-z0-9+/?:().,'äöüßÄÖÜ&amp;&gt;&lt;&quot;|€$§%!=#~;*{}\[\]@\\_°\^])+ *">
					<xd:annotation>
						<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
					</xd:annotation>
				</xd:pattern>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="PaymentMethod3Code">
			<xd:restriction base="_:PaymentMethod3Code">
				<xd:enumeration value="TRF">
					<xd:annotation>
						<xd:documentation xml:lang="de">SEPA reguliert nur Standard-Massenzahlungsverkehrs-Aufträge</xd:documentation>
						<xd:documentation xml:lang="en">SEPA regulates just standard mass payments initiations</xd:documentation>
					</xd:annotation>
				</xd:enumeration>
			</xd:restriction>
		</xd:simpleType>
		<xd:simpleType name="Priority2Code">
			<xd:restriction base="_:Priority2Code">
				<xd:enumeration value="HIGH">
					<xd:annotation>
						<xd:documentation xml:lang="de">Auftrag vor anderen, mit NORM gekennzeichneten, Auftragen durchführen</xd:documentation>
						<xd:documentation xml:lang="en">Execute order prior other, with NORM qualified, orders</xd:documentation>
					</xd:annotation>
				</xd:enumeration>
				<xd:enumeration value="NORM">
					<xd:annotation>
						<xd:documentation xml:lang="de">Auftrag nach anderen, mit HIGH gekennzeichneten, Auftragen durchführen</xd:documentation>
						<xd:documentation xml:lang="en">Execute order after other, with HIGH qualified, orders</xd:documentation>
					</xd:annotation>
				</xd:enumeration>
			</xd:restriction>
		</xd:simpleType>
	</xd:redefine>
	<!-- Attributes  -->
	<xd:attribute name="lastEdit" fixed="2025-03-12">
		<xd:annotation>
			<xd:documentation xml:lang="de">Datum der letzten Veränderung</xd:documentation>
			<xd:documentation xml:lang="en">Date of last change</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<xd:attribute name="replaceLastEdit" fixed="2024-04-04">
		<xd:annotation>
			<xd:documentation xml:lang="de">Ersetztes Versionsdatum</xd:documentation>
			<xd:documentation xml:lang="en">Replaced version date</xd:documentation>
		</xd:annotation>
	</xd:attribute>
	<!-- derived types -->
	<!-- complex types with complex content -->
	<xd:complexType name="AccountIdentification4Choice_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:AccountIdentification4Choice">
				<xd:choice>
					<xd:element name="IBAN" type="_:IBAN2007Identifier" id="AT-C001" xml:id="AT-20">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum.

Bei Postbarzahlungen ist dies "AT846000000011471508"</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area.

With CashPerPost payment this is "AT846000000011471508"</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="AccountIdentification4Choice_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:AccountIdentification4Choice">
				<xd:choice>
					<xd:element name="IBAN" type="_:IBAN2007Identifier" id="AT-D001" xml:id="AT-01">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum.</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area.</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="BranchAndFinancialInstitutionIdentification6_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:BranchAndFinancialInstitutionIdentification6">
				<xd:sequence>
					<xd:element name="FinInstnId" type="_:FinancialInstitutionIdentification18_Cdtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC einer Bank im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">BIC of a bank in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="BranchAndFinancialInstitutionIdentification6_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:BranchAndFinancialInstitutionIdentification6">
				<xd:sequence>
					<xd:element name="FinInstnId" type="_:FinancialInstitutionIdentification18_Dbtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation einer Bank im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">Identification of a bank in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CashAccount38_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:CashAccount38">
				<xd:sequence>
					<xd:element name="Id" type="_:AccountIdentification4Choice_Cdtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Prxy" type="_:ProxyAccountIdentification1" id="AT-E003" minOccurs="0" xml:id="AT-25">
						<xd:annotation>
							<xd:documentation xml:lang="de">Proxy Informationen zum Konto</xd:documentation>
							<xd:documentation xml:lang="en">Proxy information on account</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CashAccount38_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:CashAccount38">
				<xd:sequence>
					<xd:element name="Id" type="_:AccountIdentification4Choice_Dbtr">
						<xd:annotation>
							<xd:documentation xml:lang="de">IBAN eines Kontos im SEPA-Raum</xd:documentation>
							<xd:documentation xml:lang="en">IBAN of an account in SEPA area</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Ccy" type="_:ActiveOrHistoricCurrencyCode" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kontowährung des belasteten Kontos.

Nur notwendig bei Mehrwährungskonto</xd:documentation>
							<xd:documentation xml:lang="en">Account currency of debited account.

Only necessary with multi currency account</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Prxy" type="_:ProxyAccountIdentification1" id="AT-P003" minOccurs="0" xml:id="AT-11">
						<xd:annotation>
							<xd:documentation xml:lang="de">Proxy Informationen zum Konto</xd:documentation>
							<xd:documentation xml:lang="en">Proxy information on account</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="CategoryPurpose1Choice_Single">
		<xd:complexContent>
			<xd:restriction base="_:CategoryPurpose1Choice">
				<xd:choice>
					<xd:element name="Cd" type="_:ISO_ExternalCategoryPurpose1Code">
						<xd:annotation>
							<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Siehe externe Codeliste</xd:documentation>
							<xd:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
See external code list</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Prtry" type="_:AT_ExternalProprietaryCategoryPurpose1Code_Single">
						<xd:annotation>
							<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
CPPP Postbarzahlungen MÜSSEN AUF BESTANDSEBENE KLASSIFIZIERT WERDEN!
Siehe externe Codeliste</xd:documentation>
							<xd:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
CPPP Cash per Post Payment NEED TO BE CLASSIFIED ON BATCH LEVEL!
See external code list</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="FinancialInstitutionIdentification18_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:FinancialInstitutionIdentification18">
				<xd:sequence>
					<xd:element name="BICFI" type="_:BICFIDec2014Identifier" id="AT-C002" xml:id="AT-23">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC einer Bank im SEPA-Raum.

Wenn die IBAN only Option nicht genutzt wird, dann ist dies bei Postbarzahlungen der Wert "BAWAATWW"</xd:documentation>
							<xd:documentation xml:lang="en">BIC of a bank in SEPA area

If the IBAN only option is not used, then on CashPerPost payments populate with "BAWAATWW"</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="FinancialInstitutionIdentification18_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:FinancialInstitutionIdentification18">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="BICFI" type="_:BICFIDec2014Identifier" id="AT-D002" minOccurs="0" xml:id="AT-06">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC der beauftragten Bank</xd:documentation>
							<xd:documentation xml:lang="en">BIC of the instructed bank</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericFinancialIdentification1_Dbtr" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation (IBAN only)</xd:documentation>
							<xd:documentation xml:lang="en">Other identification (IBAN only)</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericFinancialIdentification1_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:GenericFinancialIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_IBANonly">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation (IBAN only).

Fixer Wert "NOTPROVIDED"</xd:documentation>
							<xd:documentation xml:lang="en">Identification (IBAN only).

Fixed value "NOTPROVIDED"</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericOrganisationIdentification1_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:GenericOrganisationIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SchmeNm" type="_:OrganisationIdentificationSchemeName1Choice_Cdtr_Dbtr_Ultmt" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Typ der Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Type of identification</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Issr" type="_:Max35Text" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation vergebende Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification assigning organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="GenericOrganisationIdentification1_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:GenericOrganisationIdentification1">
				<xd:sequence>
					<xd:element name="Id" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Von der Bank vergebene Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Identification assigned by bank</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SchmeNm" type="_:OrganisationIdentificationSchemeName1Choice_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Typ der Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Type of identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentification29_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentification29">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="AnyBIC" type="_:AnyBICDec2014Identifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC oder BEI</xd:documentation>
							<xd:documentation xml:lang="en">BIC or BEI</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LEI" type="_:LEIIdentifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Legal Entity Identifier

Z.B. Firmenbuchnummer</xd:documentation>
							<xd:documentation xml:lang="en">Legal Entity Identifier

E.g. Industrial Court ID</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericOrganisationIdentification1_Cdtr_Dbtr_Ultmt" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentification29_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentification29">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="AnyBIC" type="_:AnyBICDec2014Identifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">BIC oder BEI</xd:documentation>
							<xd:documentation xml:lang="en">BIC or BEI</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LEI" type="_:LEIIdentifier" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Legal Entity Identifier</xd:documentation>
							<xd:documentation xml:lang="en">Legal Entity Identifier</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericOrganisationIdentification1_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentificationSchemeName1Choice_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentificationSchemeName1Choice">
				<xd:choice>
					<xd:element name="Cd" type="_:ISO_ExternalOrganisationIdentification1Code">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kodierte Identifikation.

Kode aus Codeliste</xd:documentation>
							<xd:documentation xml:lang="en">Coded identification.

Code from code list</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Prtry" type="_:Max35Text_REF">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kodierte Identifikation.

Proprietärer Kode</xd:documentation>
							<xd:documentation xml:lang="en">Coded identification.

Proprietary code</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="OrganisationIdentificationSchemeName1Choice_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:OrganisationIdentificationSchemeName1Choice">
				<xd:choice>
					<xd:element name="Cd" type="_:AT_ExternalOrganisationIdentification1Code_InitgPty">
						<xd:annotation>
							<xd:documentation xml:lang="de">Kodierte Identifikation.

Einzig verfügbarer Wert ist BANK</xd:documentation>
							<xd:documentation xml:lang="en">Coded identification.

Only available value is BANK</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_Cdtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-E001" xml:id="AT-21">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Kontoinhabers / Empfängers.

Auf 70 Zeichen begrenzt.
Bei Postbarzahlungen ist dies "BAWAGPSK"</xd:documentation>
							<xd:documentation xml:lang="en">Name of account owner / credited principal.

Limited to 70 characters.
With CashPerPost payments this is "BAWAGPSK"</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="PstlAdr" type="_:PostalAddress24" id="AT-E004" minOccurs="0" xml:id="AT-22">
						<xd:annotation>
							<xd:documentation xml:lang="de">Adresse des Kontoinhabers / Empfängers.

Verwendung in Absprache mit beauftragter Bank</xd:documentation>
							<xd:documentation xml:lang="en">Address of account owner / credited principal.

Consult ordered institute prior use</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_Cdtr_Dbtr_Ultmt" id="AT-E005" minOccurs="0" xml:id="AT-24">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation des Kontoinhabers / Empfängers.

Bei Postbarzahlungen nicht verwendet</xd:documentation>
							<xd:documentation xml:lang="en">Identification of account owner / credited principal.

Not used with CashPerPost payments</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_Dbtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-P001" xml:id="AT-02">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Kontoinhabers / Auftraggeber.

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name of account owner / debited principal.

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_Cdtr_Dbtr_Ultmt" id="AT-P004" minOccurs="0" xml:id="AT-10">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identification des Kontoinhabers / Auftraggeber</xd:documentation>
							<xd:documentation xml:lang="en">Identification of account owner / debited principal</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="Nm" type="_:Max140Text_Nm" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name des Senders

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name of Sender

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_InitgPty" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation des Senders</xd:documentation>
							<xd:documentation xml:lang="en">Identification of sender</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_UltmtCdtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">MINDESTENS EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">AT LEAST ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-E007" minOccurs="0" xml:id="AT-28">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name / Bezeichnung der Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Auf 70 Zeichen begrenzt.
Bei Postbarzahlungen erforderlicher Name des Empfängers</xd:documentation>
							<xd:documentation xml:lang="en">Name / Designation of reference party of account owner / principal, i.e. habitually the actual creditor.

Limited to 70 characters.
Mandatory name of beneficiary with CashPerPost payments</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_Cdtr_Dbtr_Ultmt" id="AT-E010" minOccurs="0" xml:id="AT-29">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Referenzpartei des Kontoinhabers / Empfängers, d.h. üblicherweise der eigentliche Gläubiger.

Bei Postbarzahlungen nicht zulässig</xd:documentation>
							<xd:documentation xml:lang="en">Identification of reference party of account owner / principal, i.e. habitually the actual creditor.

Not available with CashPerPost payments</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) gt 0">
					<xd:annotation>
						<xd:documentation xml:lang="de">Mindestens 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">At least 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PartyIdentification135_UltmtDbtr">
		<xd:complexContent>
			<xd:restriction base="_:PartyIdentification135">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">MINDESTENS EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">AT LEAST ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="Nm" type="_:Max140Text_Nm" id="AT-P006" minOccurs="0" xml:id="AT-08">
						<xd:annotation>
							<xd:documentation xml:lang="de">Name / Bezeichnung der Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner.

Auf 70 Zeichen begrenzt</xd:documentation>
							<xd:documentation xml:lang="en">Name / Designation of reference party of account owner / principal, i.e. habitually the actual debtor.

Limited to 70 characters</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Id" type="_:Party38Choice_Cdtr_Dbtr_Ultmt" id="AT-P007" minOccurs="0" xml:id="AT-09">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Referenzpartei des Kontoinhabers / Auftraggeber, d.h. üblicherweise der eigentliche Schuldner</xd:documentation>
							<xd:documentation xml:lang="en">Identification of reference party of account owner / principal, i.e. habitually the actual debtor</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) gt 0">
					<xd:annotation>
						<xd:documentation xml:lang="de">Mindestens 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">At least 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="Party38Choice_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:Party38Choice">
				<xd:choice>
					<xd:element name="OrgId" type="_:OrganisationIdentification29_Cdtr_Dbtr_Ultmt">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="PrvtId" type="_:PersonIdentification13_Cdtr_Dbtr_Ultmt">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Person</xd:documentation>
							<xd:documentation xml:lang="en">Identification of person</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="Party38Choice_InitgPty">
		<xd:complexContent>
			<xd:restriction base="_:Party38Choice">
				<xd:choice>
					<xd:element name="OrgId" type="_:OrganisationIdentification29_InitgPty">
						<xd:annotation>
							<xd:documentation xml:lang="de">Identifikation der Organisation</xd:documentation>
							<xd:documentation xml:lang="en">Identification of organisation</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PaymentTypeInformation26_Batch">
		<xd:complexContent>
			<xd:restriction base="_:PaymentTypeInformation26">
				<xd:annotation>
					<xd:documentation xml:lang="de">MINDESTENS EIN FOLGE-ELEMENT</xd:documentation>
					<xd:documentation xml:lang="en">AT LEAST ONE SUBSEQUENT ELEMENT</xd:documentation>
				</xd:annotation>
				<xd:sequence>
					<xd:element name="InstrPrty" type="_:Priority2Code" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Bevorzugte Zahlungen.

Keine Verwendung definiert</xd:documentation>
							<xd:documentation xml:lang="en">Prioritised payments.

No application defined</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="SvcLvl" type="_:ServiceLevel8Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Service Spezifikation.

Wird dieses Element nicht angegeben, wird der Standardwert SEPA angenommen.</xd:documentation>
							<xd:documentation xml:lang="en">Service specification.

If this element is not quoted, the standard value SEPA is assumed.</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LclInstrm" type="_:LocalInstrument2Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Zahlungsinstrument.

Keine Verwendung definiert</xd:documentation>
							<xd:documentation xml:lang="en">Payment instrument.

No application defined</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="CtgyPurp" type="_:CategoryPurpose1Choice" id="AT-T008-Batch" minOccurs="0" xml:id="AT-45-Batch">
						<xd:annotation>
							<xd:documentation xml:lang="de">Verarbeitung.

Spezifischer Kode zur Verarbeitungssteuerung beim empfangenden Institut.
Notwendig bei Postbarzahlungen
Siehe auch Purp auf Einzelebene
Vor der Verwendung ist mit dem empfangenden Institut eine Vereinbarung zu treffen, anderenfalls wird dies ignoriert.

Beispiele:
SALA: Gehaltszahlungen
PENS: Pensionszahlungen
LOAN: Konsortialverrechnungen
SSBE: Sozialversicherungszahlungen
GOVT: Annuitätenzuschüsse
INTC: Intra Company/Cash pooling
TAXS: > siehe Purp und PmtId/EndToEndId ! (Steuerzahlungen)
CPPP: Postbarzahlungen</xd:documentation>
							<xd:documentation xml:lang="en">Processing.

Specific code for processing identification at receiving institution.
Mandatory with CashPerPost payments
See also Purp at single transaction
Before use an agreement with receiving institution is necessary, otherwise this is ignored.

Examples:
SALA: Salary payment
PENS: Pension payment
LOAN: Consortium loan
SSBE: Social security
GOVT: Annuity grant
INTC: Intra Company/Cash pooling
TAXS: > see Purp and PmtId/EndToEndId ! (Tax payments)
CPPP: Cash Per Post Payment</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) gt 0">
					<xd:annotation>
						<xd:documentation xml:lang="de">Mindestens 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">At least 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PaymentTypeInformation26_Single">
		<xd:complexContent>
			<xd:restriction base="_:PaymentTypeInformation26">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">MINDESTENS EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">AT LEAST ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="SvcLvl" type="_:ServiceLevel8Choice_Single" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="LclInstrm" type="_:LocalInstrument2Choice" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="CtgyPurp" type="_:CategoryPurpose1Choice_Single" id="AT-T008-Single" minOccurs="0" xml:id="AT-45-Single">
						<xd:annotation>
							<xd:documentation xml:lang="de">Siehe Beschreibung auf Bestandsebene</xd:documentation>
							<xd:documentation xml:lang="en">See description on batch level</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) gt 0">
					<xd:annotation>
						<xd:documentation xml:lang="de">Mindestens 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">At least 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="PersonIdentification13_Cdtr_Dbtr_Ultmt">
		<xd:complexContent>
			<xd:restriction base="_:PersonIdentification13">
				<xd:sequence>
					<xd:annotation>
						<xd:documentation xml:lang="de">GENAU EIN FOLGE-ELEMENT</xd:documentation>
						<xd:documentation xml:lang="en">EXACTLY ONE SUBSEQUENT ELEMENT</xd:documentation>
					</xd:annotation>
					<xd:element name="DtAndPlcOfBirth" type="_:DateAndPlaceOfBirth1" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Datum und Ort der Geburt</xd:documentation>
							<xd:documentation xml:lang="en">Date and place of birth</xd:documentation>
						</xd:annotation>
					</xd:element>
					<xd:element name="Othr" type="_:GenericPersonIdentification1" minOccurs="0">
						<xd:annotation>
							<xd:documentation xml:lang="de">Andere Identifikation</xd:documentation>
							<xd:documentation xml:lang="en">Other identification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:sequence>
				<xd:assert test="count(*) eq 1">
					<xd:annotation>
						<xd:documentation xml:lang="de">Genau 1 Folgeelement</xd:documentation>
						<xd:documentation xml:lang="en">Exactly 1 consequent element</xd:documentation>
					</xd:annotation>
				</xd:assert>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<xd:complexType name="ServiceLevel8Choice_Single">
		<xd:complexContent>
			<xd:restriction base="_:ServiceLevel8Choice">
				<xd:choice>
					<xd:element name="Cd" type="_:AT_ExternalServiceLevel1Code_Single" id="AT-T001-Single" xml:id="AT-40-Single">
						<xd:annotation>
							<xd:documentation xml:lang="de">Service Spezifikation</xd:documentation>
							<xd:documentation xml:lang="en">Service specification</xd:documentation>
						</xd:annotation>
					</xd:element>
				</xd:choice>
			</xd:restriction>
		</xd:complexContent>
	</xd:complexType>
	<!-- simple types -->
	<xd:simpleType name="ActiveOrHistoricCurrencyCode_TX">
		<xd:restriction base="_:ActiveOrHistoricCurrencyCode">
			<xd:enumeration value="EUR">
				<xd:annotation>
					<xd:documentation xml:lang="de">SEPA kann nur EUR transferieren</xd:documentation>
					<xd:documentation xml:lang="en">SEPA just enables EUR transfers</xd:documentation>
				</xd:annotation>
			</xd:enumeration>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="InstrForDbtrAgt_Text">
		<xd:restriction base="_:Max140Text">
			<xd:annotation>
				<xd:documentation xml:lang="de">Die Berücksichtigung der beabsichtigten Instruktionen bedürfen der Abstimmung mit dem kontoführenden Institut.

Sofern vereinbart, wird dabei die Angabe des gewünschten Empfängerprüfung-Prozesses für diesen Bestand wie folgt vorgenommen:
"VoPOptIn"	Durchführung der Empfängerprüfung
"VoPOptOut"	Auslassen der Empfängerprüfung</xd:documentation>
				<xd:documentation xml:lang="en">The consideration of intended instructions need prior agreement with account servicing institution.

When agreed, selection of wanted Verification-of-Payee process for this payments batch is done by:
"VoPOptIn"	Execution of beneficiary check
"VoPOptOut"	Skip beneficiary check</xd:documentation>
			</xd:annotation>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="Max140Text_Nm">
		<xd:restriction base="_:Max140Text">
			<xd:annotation>
				<xd:documentation xml:lang="de">Begrenzung der Länge der Namenselemente</xd:documentation>
				<xd:documentation xml:lang="en">Limitation of length of name elements</xd:documentation>
			</xd:annotation>
			<xd:maxLength value="70"/>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="Max35Text_IBANonly">
		<xd:restriction base="_:Max35Text">
			<xd:enumeration value="NOTPROVIDED">
				<xd:annotation>
					<xd:documentation xml:lang="de">Festgelegter Wert für IBAN-only Beauftragungen</xd:documentation>
					<xd:documentation xml:lang="en">Fixed value for IBAN only initiations</xd:documentation>
				</xd:annotation>
			</xd:enumeration>
		</xd:restriction>
	</xd:simpleType>
	<xd:simpleType name="Max35Text_REF">
		<xd:restriction base="_:Max35Text">
			<xd:annotation>
				<xd:documentation xml:lang="de">Begrenzung des Zeichensatzes für Kodes, Referenzen und Identifikatoren

Erlaubte Struktur für Kodes, Referenzen und Identifikatoren nach EPC217-08 Best Practices SEPA Requirements for Character Set SSG.pdf
Ein Text oder Wert muss mindestens ein druckbares Zeichen enthalten, jedoch
startet nicht mit /
endet nicht mit /
enthält kein //</xd:documentation>
				<xd:documentation xml:lang="en">Limitation of character set for codes, references and identifications

Allowed structure for codes, references and identifications according EPC217-08 Best Practices SEPA Requirements for Character Set SSG.pdf
A text or value must contain at least one printable character, but
don't start with /
don't end with /
don't contain //</xd:documentation>
			</xd:annotation>
			<xd:pattern value="((([\-A-Za-z0-9+?:().,' ]+/)+[\-A-Za-z0-9+?:().,' ]+)|(( *[\-A-Za-z0-9+?:().,'])+ *))">
				<xd:annotation>
					<xd:documentation>Remember that the pattern notation is governed by XML and XSD rules.
The regex is anchored to the whole string, which needs a ^ and a $ in other environments.
Entities like &#x09;, &amp;, &gt;, &lt; and &quot; need to be exchanged to their entity's meaning or other encoding in other environments.
The / might need to be escaped to \/ in other environments.</xd:documentation>
				</xd:annotation>
			</xd:pattern>
		</xd:restriction>
	</xd:simpleType>
</xd:schema>